@font-face {
  font-family: 'VarentGrotesk';
  src: url('../fonts/VarentGrotesk-Bold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.resentSection {
  width: 100%;
  padding: 2vw 4vw;

  .resentText {
    width: 100%;
    display: flex;
    // align-items: center;
    justify-content: space-between;

    .rsentHeading {
      h1 {
        // font-family: $navmenu-fonts;
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 10vw;
        line-height: 0.9;
        color: $text-color;
      }
    }

    .recircle {
      width: 9vw;
      height: 9vw;
      border: 1px solid $text-color;
      background-color: transparent;
      color: $text-color;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 5vw;
      transform: translateY(80%);

      &:hover {
        background-color: $text-color;
        border-color: #000;
        color: #000;
        transition: 120ms ease-in-out;
      }
    }

    >h1 {
      font-size: 18vw;
      color: $text-color;
    }
  }

  .resentVideo {
    position: relative;
    width: 100%;
    margin-top: 6vw;
    height: auto;
    min-height: 40vw;

    .video {
      position: absolute;
      width: 40vw;
      border-radius: 10px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }
    }

    .v1 {
      top: 0;
      left: 0;
      z-index: 1;
    }

    .v2 {
      top: 3vw;
      left: 18vw;
      z-index: 2;
    }

    .v3 {
      top: 6vw;
      left: 35vw;
      z-index: 3;
    }

    .v4 {
      top: 9vw;
      left: 52vw;
      z-index: 4;
    }
  }

  .resentWork {
    width: 400vw;
    height: 400vw;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: transparent;

    .thing {
      position: absolute;
      top: 25px;
      left: 50%;
      width: 200px;
      height: 200px;
      font-size: 28px;
      color: white;
      transform: translateX(-50%);
    }
  }
}

.resentLastHeading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    width: 70%;
    font-family: 'VarentGrotesk';
    font-size: 8vw;
    text-align: center;
    color: $text-color;
  }
}


// =============== RESPONSIVE ===============
@media (max-width: 600px) {
  .resentSection {
    .resentText {
      //   flex-direction: column;
      align-items: center;

      .rsentHeading h1 {
        font-size: 3rem;
        text-align: center;
      }

      >h1 {
        font-size: 3.5rem;
        margin-top: 1rem;
      }
    }

    .resentVideo {
      position: relative;
      margin-top: 6vw;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;

      .video {
        position: static;
        width: 90vw;
        max-width: 100%;
        height: auto;
      }
    }
  }

  .resentLastHeading h1 {
    font-size: 2.5rem;
    width: 90%;
  }
}

