/*----------------------*\
       ALL COLOR
\----------------------*/
$bg-color: #1e1e1e;
$text-color: #fff;
$icon-color: #FF9100;


/*----------------------*\
       ALL FONTS
\----------------------*/

$logo-fonts: 'DxGrafik-SemiBold', sans-serif;
$navmenu-fonts: 'dxrestcal-medium', sans-serif;
$hero-fonts: 'VarentGrotesk-Bold', sans-serif;
$p-fonts: 'SFPRODISPLAYMEDIUM', sans-serif;
$melodrama: 'Melodrama-Semibold', sans-serif;